<h1>{{newsletter.newsTitle}}</h1>

<div>
    {{newsletter.newsContent|raw}}
</div>

<p>Pour vous désinscrire, cliquez sur ce lien <a href="{{ absolute_url(path('app_unsuscribe_newsletter', {id: user.id, newsletter: newsletter.id, token: user.newsUserValidationToken})) }}">{{ absolute_url(path('app_unsuscribe_newsletter', {id: user.id, newsletter: newsletter.id, token: user.newsUserValidationToken})) }}</a></p>